body {
  background-color: BurlyWood;
}

@font-face {
  font-family: "Forgore";
  src: url("assets/texts/Forgore.otf") format("opentype");
}

.runes {
  font-family: "Forgore";
}
.introtext {
  font-size: 3rem;
  color: DarkGoldenRod;
}
.center {
  text-align: center;
}
.down {
  margin-top: 45vh;
}
.readybutton {
  color: white;
  background-color: DarkGoldenRod;
  padding: 15px 30px;
  font-size: 1.75rem;
  border-radius: 8px;
  font-family: "Forgore";
}
