body {
  background-color: BurlyWood;
}

@font-face {
  font-family: "Forgore";
  src: url("assets/texts/Forgore.otf") format("opentype");
}

.runes {
  font-family: "Forgore";
  color: DarkGoldenRod;
}

.center {
  text-align: center;
}

.down {
  margin-top: 45vh;
}


