body {
  background-color: BurlyWood;
}

@font-face {
  font-family: "Forgore";
  src: url("assets/texts/Forgore.otf") format("opentype");
}

.runes {
  font-family: "Forgore";
}
.introtext {
  font-size: 3rem;
  color: DarkGoldenRod;
}
.center {
  text-align: center;
}
.down {
  margin-top: 45vh;
}
.readybutton {
  color: white;
  background-color: DarkGoldenRod;
  padding: 15px 30px;
  font-size: 1.75rem;
  border-radius: 8px;
  font-family: "Forgore";
}
.dialoguewrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 45vh;
}
.dialoguebox {
  background-color: Bisque;
  padding: 20px 30px;
  border-radius: 12px;
  border: 3px solid LightPink;
  max-width: 400px;
}
#dialoguetext {
  font-family: "Forgore";
  font-size: 1.75rem;
  color: DarkGoldenRod;
  min-height: 3em;
  justify-content: center;
}
#nextbutton {
  color: white;
  background-color: DarkGoldenRod;
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 8px;
  font-family: "Forgore";
  justify-content: center;
}
.portrait {
  width: 150px;
  height: auto;
}
#name {
  padding: 8px 12px;
  font-size: 1.5rem;
  border-radius: 8px;
  font-family: "Forgore";
  color: Crimson;
  border: 3px solid DarkGoldenRod;
}
#submitname {
  padding: 8px 12px
  font-size: 1.75rem;
  border-radius: 12px;
  font-family: "Forgore";
  background-color: DarkGoldenRod;
  color: white;
}
#namestep {
  display: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}
  
  
  
