body {
  background-color: BurlyWood;
}

@font-face {
  font-family: "Forgore";
  src: url("assets/texts/Forgore.otf") format("opentype");
}

.runes {
  font-family: "Forgore";
  color: CadetBlue;
}


